<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Engineering Project</title>
      {% include 'dependencies.html' %}
      {% import "bootstrap/wtf.html" as wtf %}

  </head>
  <body>
    <div class="container">

        <form class="form-signin form-size" method="POST" action="{{ url_for('users.reset_with_token', token=token) }}">
          <h2 class="form-signin-heading">Reset Password</h2>
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.confirm) }}
          <center><span style="color:red;">{{ message }}</span></center>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
          <center><h6><a class="btn btn-light" href="/login">Sign In Now</a></h6></center>
          <center><h6>Don't have an account? <a class="btn btn-light" href="/register">Sign Up Now</a></h6></center>
        </form>

      </div>
  </body>
</html>
